body{
    overflow-x:hidden;
    margin:0;
    font-family:system-ui;
    width:100vw;
    background-image: url("./photos/pexels-fotoaibe-1643383.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
html{
    scroll-behavior: smooth;
}
header{
    position:fixed;
    width:100vw;
    top:0vh;
}
header > p{
    text-align: center;
    font-size:1.5rem;
    font-weight:700;
}
header > nav{
   display:flex;
   flex-direction:row;
   justify-content:space-evenly;
   background-color: bisque;
   padding-top:2vh;
   padding-bottom:2vh;
}
header > nav > a{
    text-decoration:none;
    font-size:1rem;
    color:black;
    &:hover{
        text-decoration:underline black;
    }
}
main{
    margin-top: 25vh;
    width:100vw;
}
#home > h1{
    padding-top:5vh;
    text-align:center;
    padding-bottom:5vh;
}
#furniture{
    width:100vw;
}
#furniture > p{
    text-align:center;
    font-size:1.5rem;
}
figure{
    border:1px solid white;
    width:20vw;
    background-color: white;
    text-align: center;
    border-radius:5px;
    box-shadow:0 0 10px black;
    &:hover{
        transform: scale(1.5);
    }
}
figure > img{
    height:20vw;
    width:20vw;
}
.products{
    display:grid;
    width:100vw;
    grid-template-columns: 1fr 1fr 1fr;
}
#service > ul{
    background-color: white;
    border-radius:10px;
    text-align:center;
    margin-left: 30vw;
    margin-right: 30vw;
    padding-bottom: 5vh;
    box-shadow:0 0 10px black;
}
#service > ul > li{
    padding-top: 5vh;
}
#service > p{
    font-size:1.5rem;
    text-align:center;
}
#service{
    margin-top:10vh;
}
.instagram{
    list-style-image: url("./icons/iconmonstr-instagram-13.svg");
}
.facebook{
    list-style-image: url("./icons/iconmonstr-facebook-6.svg");
}
.gmail{
    list-style-image: url("./icons/iconmonstr-gmail-4.svg");
}
.number{
    list-style-image: url("./icons/iconmonstr-phone-13.svg");
}
.flex-v-center{
    display:flex;
    align-items: center;
}
footer{
    width:100vw;
    background-color: white;
}
footer > .f-p{
    text-align:center;
    font-size:1.5rem;
    font-weight: 600;
}
footer > div{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
.dev{
    text-align:center;
    font-size:1rem;
    font-weight: 600;
}
@media only screen and (max-width:500px){
    header > p{
        font:1rem;
    }
}
@media only screen and (max-width:900px){
    body{
        overflow-x:hidden;
        margin:0;
    }
    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .products > figure > img{
        width:30vw;
        height:30vw;
    }
    .products > figure{
        width:30vw;
    }
    #service > ul{
        box-sizing:border-box;
        margin-right:10vw;
        margin-left:10vw;
        padding-right:5vw;
    }
    .flex-v-center{
        margin-left:0;
        margin-right:0;
        font-size:1rem;
    }
}
@media only screen and (max-width:450px){
    .products > figure > img{
        width:80vw;
        height:80vw;
    }
    .products > figure{
        width:80vw;
        margin-left:auto;
        margin-right:auto;
    }
}